.form-row {
    margin: 5px 0;
}

label {
    display: inline-block;
    width: 100px;
}

input[type=text], input[type=password] {
    width: 250px;
    border: 1px solid steelblue;
    border-radius: 15px;
    padding: 5px 10px;
    outline: none;
}

input[type=submit] {
    background-color: #4682b4;
    padding: 8px 16px;
    margin-right: 20px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 16px;
}
input[type=submit]:hover {
    background-color: #386699;
}
